.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.pace-inactive {
    display: none;
}
.pace .pace-progress {
    background: #23527c;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 4px;
}

body {
    background: #fafafa;
    font-size: 18px;
    line-height: 28px;
    color: #000;
    overflow-x: hidden;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
    letter-spacing: -0.03em;
    cursor: default;
}
h1,
h2,
h3,
h4 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
    color: #000;
}
h1 {
    font-size: 55px;
    line-height: 62px;
}
h2 {
    font-size: 38px;
    line-height: 46px;
}
h4 {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
}
h6 {
    font-size: 12px;
    line-height: 16px;
    font-weight: 200;
}
a,
a:visited {
    color: #23527c;
    border-bottom: 1px solid #23527c;
}
a:hover {
    color: #23527c;
    text-decoration: none;
    border-bottom: 1px solid #23527c;
}
.btn-primary {
    background: #23527c;
    border: none;
    color: #fff !important;
}
.btn-primary:hover {
    background: #23527c;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .22);
}

body > header {
    font-size: 16px;
    line-height: 16px;
}
body > header a,
body > header a:hover,
a.btn,
a.inline,
section.docs .col-md-4 a {
    border-bottom: none;
}
body > header a.logo {
    font-weight: 400;
    font-size: 20px;
    letter-spacing: -0.09em;
}

img {
    width: 130%;
    height: auto;
    border-radius: 6px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .11);
}
img.cuty {
    margin-left: -40%;
}
span.black {
    background: #4e4e4e;
    border-radius: 3px;
    padding: 0 5px;
}
span.yellow {
    background: #8a8a2d;
    border-radius: 3px;
    padding: 0 5px;
}

pre {
    margin: 12.5px 0 25px 0;
    white-space: normal;
}
.hljs {
    display: block;
    overflow-x: auto;
    color: #abb2bf;
    background: #2d2d2d;
    border-radius: 6px;
    padding: 15px 25px;
    box-sizing: border-box;
}

.hljs-comment,
.hljs-quote {
  color: #5c6370;
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #c678dd;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e06c75;
}

.hljs-literal {
  color: #56b6c2;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #98c379;
}

.hljs-built_in,
.hljs-class .hljs-title {
  color: #e6c07b;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #d19a66;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #61aeee;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}
